.lb-header {
  height: 95px;
  line-height: 95px;
  background: #353e44; }

.lb-nav-top {
  border-bottom: 5px solid #d5d4c5; }
  .lb-nav-top__list {
    text-align: center; }
    .lb-nav-top__list li {
      display: inline-block;
      list-style: none;
      margin: 0;
      vertical-align: top; }
    .lb-nav-top__list a {
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-style: bold;
      font-size: 18px;
      line-height: 95px;
      display: block;
      padding: 0 15px;
      text-decoration: underline;
      color: #cccccc; }
      .lb-nav-top__list a:hover {
        text-decoration: none;
        background: #3f484e;
        box-shadow: 0 5px 0 0 #11c1d0; }

.lb-presentation {
  height: 516px;
  margin-bottom: 54px;
  background-image: url("../img/presentation-img.jpg");
  background-size: cover; }
  .lb-presentation h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 48px;
    line-height: 57px;
    position: relative;
    width: 360px;
    float: right;
    margin: 105px 307px 0 0;
    padding-left: 30px;
    text-transform: uppercase;
    color: #4d4d4d; }
    .lb-presentation h1::before {
      position: absolute;
      content: '';
      top: 11px;
      left: -6px;
      width: 8px;
      height: 207px;
      background: url("../img/vert-line.png") 0 0 no-repeat; }

.lb-advantages h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 60px;
  text-align: center;
  color: #4d4d4d; }

.lb-advantages__list {
  width: 700px;
  margin: 0 auto 69px; }
  .lb-advantages__list li {
    display: inline-block;
    list-style: none;
    margin: 0;
    width: 170px;
    height: 190px;
    vertical-align: top;
    text-align: center; }
    .lb-advantages__list li:nth-child(1) {
      margin-left: 28px;
      margin-top: 5px;
      margin-bottom: 51px; }
    .lb-advantages__list li:nth-child(2) {
      margin-left: 66px;
      margin-top: 5px; }
    .lb-advantages__list li:nth-child(3) {
      margin-left: 66px;
      margin-top: 5px; }
    .lb-advantages__list li:nth-child(4) {
      margin-left: 28px;
      margin-top: 5px; }
    .lb-advantages__list li:nth-child(5), .lb-advantages__list li:nth-child(6) {
      margin-left: 66px;
      margin-top: 5px; }

.lb-advantages__descr {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 21px;
  display: block;
  color: #4d4d4d; }

.lb-advantages__block {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 5px;
  transition: .7s;
  cursor: pointer; }
  .lb-advantages__block img {
    display: block;
    padding-top: 32px;
    margin: 0 auto;
    transition: .7s; }
  .lb-advantages__block::before {
    position: absolute;
    content: '';
    width: 135px;
    height: 135px;
    top: 0;
    left: 0;
    border: 5px solid #d5d4c5;
    border-radius: 50%;
    transition: .7s; }
  .lb-advantages__block:hover::before {
    border: 5px solid #11c2d1;
    cursor: pointer; }
  .lb-advantages__block:hover img {
    transform: scale(1.1);
    cursor: pointer; }

.lb-plan {
  height: 542px;
  background: #d7d6c8; }
  .lb-plan h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    line-height: 30px;
    padding-top: 66px;
    margin-bottom: 70px;
    text-align: center;
    color: #4d4d4d; }
  .lb-plan__inner {
    margin-left: 50px; }
  .lb-plan__left, .lb-plan__right {
    display: inline-block;
    vertical-align: top; }
  .lb-plan__right {
    padding-left: 255px;
    position: relative; }
    .lb-plan__right::before {
      position: absolute;
      content: '';
      left: 0;
      top: -6px;
      width: 251px;
      height: 271px;
      background: url("../img/plan-scheme.png") 0 0 no-repeat; }
  .lb-plan__list._ta-right {
    text-align: right; }
  .lb-plan__list._top-indent-1 {
    margin: 3px 0 0 178px; }
  .lb-plan__list._top-indent-2 {
    margin-top: 120px; }
  .lb-plan__list._top-indent-3 {
    margin-top: 108px; }
  .lb-plan__list li {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #4d4d4d; }
    .lb-plan__list li:first-child {
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-style: bold;
      font-size: 14px;
      line-height: 29px;
      text-transform: uppercase;
      color: #4d4d4d; }

.lb-map {
  height: 790px; }
  .lb-map h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    line-height: 30px;
    padding: 69px 0 22px;
    text-align: center;
    color: #4d4d4d; }
  .lb-map h5 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 18px;
    padding: 42px 0 14px;
    text-align: center;
    color: #4d4d4d; }
  .lb-map p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 70px;
    text-align: center;
    color: #4d4d4d; }
  .lb-map__map-img img {
    display: block;
    margin: 0 auto; }

.lb-call-order {
  height: 245px;
  background: #f1f1f1; }
  .lb-call-order p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    display: block;
    width: 765px;
    margin: 0 auto;
    padding: 73px 0 35px;
    text-align: center;
    color: #4d4d4d; }
  .lb-call-order__btn {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 21px;
    line-height: 41px;
    display: block;
    width: 217px;
    height: 47px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #feb751, #ec8c02);
    box-shadow: 0 2px 3px 1px #c3c3c3;
    color: #fff; }
    .lb-call-order__btn:hover {
      background-image: linear-gradient(to bottom, #ec8c02, #feb751); }

body {
  font-family: "PT Sans"; }

li {
  list-style: none; }

ul, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.lb-center {
  width: 1060px;
  margin: 0 auto; }

* {
  box-sizing: border-box; }
