.lb-header {
  height: 95px;
  line-height: 95px;
  background: #353e44; }

.lb-nav-top {
  border-bottom: 5px solid #d5d4c5; }
  .lb-nav-top__list {
    text-align: center; }
    .lb-nav-top__list li {
      display: inline-block;
      list-style: none;
      margin: 0;
      vertical-align: top; }
    .lb-nav-top__list a {
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-style: bold;
      font-size: 18px;
      line-height: 95px;
      display: block;
      padding: 0 15px;
      text-decoration: underline;
      color: #cccccc; }
      .lb-nav-top__list a:hover {
        text-decoration: none;
        background: #3f484e;
        box-shadow: 0 5px 0 0 #11c1d0; }

.lb-presentation {
  height: 525px;
  margin-bottom: 55px;
  background-image: url("../img/presentation-img.jpg");
  background-size: cover; }
  .lb-presentation h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 48px;
    line-height: 48px;
    width: 360px;
    float: right;
    margin: 112px 240px 0 0;
    padding-left: 30px;
    text-transform: uppercase;
    border-left: 7px solid #11c2d1;
    color: #353e44; }

.lb-advantages h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 60px;
  text-align: center;
  color: #353e44; }

.lb-advantages__list {
  width: 700px;
  margin: 0 auto; }
  .lb-advantages__list li {
    display: inline-block;
    list-style: none;
    margin: 0;
    width: 170px;
    padding-top: 160px;
    vertical-align: top; }
    .lb-advantages__list li a {
      position: relative; }
      .lb-advantages__list li a::before {
        position: absolute;
        content: '';
        width: 130px;
        height: 130px;
        top: 0;
        left: 0;
        border: 5px solid #d5d4c5;
        border-radius: 50%; }
        .lb-advantages__list li a::before:hover {
          border: 5px solid #11c2d1; }

body {
  font-family: "PT Sans"; }

li {
  list-style: none; }

ul, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.center {
  width: 1060px; }

* {
  box-sizing: border-box; }
