.lb {
    &-advantages {
        h3 {
            @include pt-bold(30px, 30px);
            margin-bottom: 60px;
            text-align: center;
            color: $text;
        }
        &__list {
            width: 700px;
            margin: 0 auto 69px;
            li {
                @include li-inl(0);
                width: 170px;
                height: 190px;
                vertical-align: top;
                text-align: center;
                &:nth-child(1) {
                    margin-left: 28px;
                    margin-top: 5px;
                    margin-bottom: 51px;
                }
                &:nth-child(2) {
                    margin-left: 66px;
                    margin-top: 5px;
                }
                &:nth-child(3) {
                    margin-left: 66px;
                    margin-top: 5px;
                }
                &:nth-child(4) {
                    margin-left: 28px;
                    margin-top: 5px;
                }
                &:nth-child(5),
                &:nth-child(6) {
                    margin-left: 66px;
                    margin-top: 5px;
                }
            }
        }
        &__descr {
            @include pt-bold(18px, 21px);
            display: block;
            color: $text;
        }
        &__block {
            position: relative;
            width: 150px;
            height: 150px;
            margin: 0 auto 5px;
            transition: .7s;
            cursor: pointer;
            img {
                display: block;
                padding-top: 32px;
                margin: 0 auto;
                transition: .7s;
            }
            &::before {
                position: absolute;
                content: '';
                width: 135px;
                height: 135px;
                top: 0;
                left: 0;
                border: 5px solid #d5d4c5;
                border-radius: 50%;
                transition: .7s;
            }
            &:hover {
                &::before {
                    border: 5px solid #11c2d1;
                    cursor: pointer;
                }
                img {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }
}