.lb {
    &-map {
        height: 790px;
        h3 {
            @include pt-bold(30px, 30px);
            padding: 69px 0 22px;
            text-align: center;
            color: $text;
        }
        h5 {
            @include pt-bold(18px, 18px);
            padding: 42px 0 14px;
            text-align: center;
            color: $text;
        }
        p {
            @include pt-reg(14px, 14px);
            margin-bottom: 70px;
            text-align: center;
            color: $text;
        }
        &__map-img {
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}