.lb {
    &-plan {
        height: 542px;
        background: #d7d6c8;
        h3 {
            @include pt-bold(30px, 30px);
            padding: 66px 0 0 0;
            margin: 0 0 70px 0;
            text-align: center;
            color: $text;
        }
        &__inner {
            margin-left: 50px;
        }
        &__left, 
        &__right {
            display: inline-block;
            vertical-align: top;
        }
        &__right {
            padding-left: 255px;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                left: 0;
                top: -6px;
                width: 251px;
                height: 271px;
                background: url('../img/plan-scheme.png') 0 0 no-repeat;
            }
        }
        &__list {
            padding: 0;
            &._ta-right {
                text-align: right;
                margin: 0;
                padding: 0;
            }
            &._top-indent-1 {
                margin: 3px 0 0 178px;
                
            }
            &._top-indent-2 {
                margin-top: 120px;
            }
            &._top-indent-3 {
                margin-top: 108px;
            }
            li {
                list-style: none;
                &:first-child {
                    @include pt-bold(14px, 29px);
                    text-transform: uppercase;
                    color: $text;
                }
                @include pt-reg(14px, 24px);
                color: $text;
            }
        }
    }
}