.lb {
    &-presentation {
        height: 516px;
        margin-bottom: 54px;
        background-image: url('../img/presentation-img.jpg');
        background-size: cover;
        &__title {
            width: 360px;
            padding: 65px 0 0 0;
            margin: 0 315px 0 auto;
        }
        h1 {
            @include pt-bold(48px, 57px);
            position: relative;
            width: 360px;
            padding-left: 30px;
//            padding-top: 100px;
            text-transform: uppercase;
            color: $text;
            &::before {
                position: absolute;
                content: '';
                top: 11px;
                left: -6px;
                width: 8px;
                height: 207px;
                background: url('../img/vert-line.png') 0 0 no-repeat;
            }
        }
    }
}